.btn_suscript {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: -top;
  margin-bottom: -botton;
  margin-left: -left;
  margin-right: -rigth;
}

.body-formulario {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -top;
  margin-bottom: -botton;
  margin-left: -left;
  margin-right: -rigth;
}

.data_form {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -top;
  margin-bottom: -botton;
  margin-left: -left;
  margin-right: -rigth;
}

.img_form_2 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -top;
  margin-bottom: -botton;
  margin-left: -left;
  margin-right: -rigth;
}

.subm-data {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: -top;
  margin-bottom: -botton;
  margin-left: -left;
  margin-right: -rigth;
}

.grid-main-cmpnys {
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 115.2px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
}

.txt-faqs-3 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: -left;
  padding-right: -rigth;
  margin-top: none;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
}

.grid-main-faqs {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 115.2px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
}

.txt-faq-h2-3 {
  font-size: 30px;
  background-color: none;
  justify-content: center;
  color: black;
  font-weight: 500;
}

.txt-faq-p-3 {
  font-weight: 300;
}

.txt-faq-h1-3 {
  font-weight: bolder;
}

/*FOOTER*/
.smt-txt {
  font-size: 20px;
  background-color: none;
  justify-content: center;
  color: black;
}

.sumate1 {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 100px;
  margin-right: 100px;
}

/*LowContainer*/
.third-ft {
  font-size: 15px;
  background-color: #003F91;
  justify-content: center;
  color: #FFFFEA;
}

.third-ft {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
}

.spdor-ftr {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 1px;
  margin-right: 1px;
}

.arr {
  padding-top: -top;
  padding-bottom: -botton;
  padding-left: -left;
  padding-right: -rigth;
  margin-top: 10px;
  margin-bottom: -botton;
  margin-left: -left;
  margin-right: -rigth;
  font-size: 15px;
}

/*finFOOTER*/
.btn_suscript {
  background-color: #c1dbf1;
  color: #003F91;
  font-weight: 300;
  font-size: 17px;
  border: 2px solid #003F91;
}

.carousel-gift {
  border-bottom: 5px solid #6D326D;
  border-top: 5px solid #6D326D;
}

.subm-data {
  border: 2px solid #003F91;
  color: #003F91;
}

/*FOOTER*/
.bg-ftr {
  background-image: linear-gradient(to top, #003F91, #5DA9E9, #FFFFFF);
}

.smt-btn {
  background-color: #003F91;
}

.txt-sumate {
  color: #E5F4E3;
  text-decoration: none;
  font-size: 19px;
  text-align: center;
}

/*FIN FOOTER*/
/*NavBar*/
.gft-navbar {
  background-color: #003F91 !important;
  opacity: 1;
  padding: auto;
  padding-bottom: 1px;
  padding-top: 5px;
  margin: auto;
}

.desplazable-gift {
  background-color: #003F91 !important;
}

/*CAROUSEL*/
.carousel-gift {
  margin-top: 115.2px;
  margin-bottom: 40px;
}

/*ANUNCIO SUSCRIPT*/
.anun_A {
  margin-top: 115.2px;
  margin-bottom: 25px;
}

.grid-main-faqs {
  display: grid;
  grid-template-columns: 0.5fr 3.5fr 0.5fr;
  grid-template-rows: 2fr;
  grid-template-areas: "fq1 fq2 fq3";
  text-align: center;
}

.fq1 {
  grid-area: fq1;
}

.fq2 {
  grid-area: fq2;
}

.fq3 {
  grid-area: fq3;
}

.grid-main-cmpnys {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr;
  grid-template-areas: "cp1 cp2";
  text-align: center;
}

.cp1 {
  grid-area: cp1;
}

.cp2 {
  grid-area: cp2;
}

/*cart*/
.ctg-card {
  display: flex;
  margin: 10px 10px;
  justify-content: space-around;
}

.card-item {
  border: 1px solid rgb(74, 73, 76);
  border-radius: 3%;
  margin: 10px 10px;
}

.img-item {
  padding: 10px 10px;
}

.inf-item {
  display: flex;
  flex-direction: column;
}

.desc-item {
  text-align: center;
  padding: 4px 4px;
}

.prc-item {
  text-align: center;
}

.nube-g {
  padding-left: 10px;
}

.h3-cart {
  color: blue;
  margin: 0%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.h2-cart {
  margin: 0%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.p-cart {
  margin: 0%;
  height: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
}

@media screen and (max-width: 776px) {
  .ctg-card {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    justify-content: space-around;
  }
  .img-item {
    justify-content: center;
    padding: 10px 10px;
  }
}
@media screen and (min-width: 776px) and (max-width: 890px) {
  .ctg-card {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    justify-content: space-around;
  }
}
/*FAQS*/
/*FIN FAQS*/
.sumate1 {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #5D737E;
}

ol {
  text-decoration: none;
  list-style: none;
  font-size: 20px;
}
ol li {
  text-decoration: none;
  list-style: none;
  font-size: 15px;
}
ol li a {
  text-decoration: none;
  list-style: none;
  font-size: 15px;
  color: black;
}

.fan-page {
  list-style: none;
  text-align: center;
  justify-content: space-between;
  font-size: 15px;
}

.smt-txt {
  font-weight: 600px;
  margin-top: 5px;
  margin-left: 100px;
  text-align: center;
}

.smt-btn {
  padding: 20px 28px;
  border: 2px solid;
  border-radius: 10px;
  margin-right: 100px;
}

.smt-txt-1 {
  font-size: 25px;
  font-weight: 600px;
}

.smt-txt-2 {
  font-size: 22px;
  font-weight: 600px;
}

.grid-footer {
  display: grid;
  grid-template-columns: 3fr 2.5fr 2.5fr 4fr;
  grid-template-rows: 4fr;
  grid-template-areas: "sct1 sct2 sct3 sct4" "div1 div2 div3 div4";
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.sct4 {
  display: flex;
  justify-items: end;
  justify-content: end;
  text-align: end;
}

/*Low Container*/
.third-ft {
  display: flex;
  position: static;
  text-align: center;
}

@media screen and (max-width: 776px) {
  /*FOOTER*/
  .sumate1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid #5D737E;
  }
  .grid-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .sct1 {
    margin-bottom: 40px;
  }
  .sct2 {
    display: none;
  }
  .div2 {
    display: none;
  }
  .sct3 {
    display: none;
  }
  .div3 {
    display: none;
  }
  .sct4 {
    display: flex;
    justify-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .spdor-ftr {
    text-align: center;
    font-size: 15px;
  }
  .smt-btn {
    padding: 15px 20px;
    border: 2px solid;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-items: center;
    margin-top: 50px;
  }
  .smt-txt {
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
  }
  /*fin FOOTER*/
}
@media screen and (min-width: 776px) and (max-width: 890px) {
  /*FOOTER*/
  .sumate1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid #5D737E;
  }
  .smt-btn {
    padding: 20px 28px;
    border: 2px solid;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-items: center;
    margin-top: 50px;
  }
  .smt-txt {
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
  }
  /*fin FOOTER*/
}
* {
  margin: 0%;
  padding: 0%;
}

/*ANUNCIO SUSCRIPT*/
.body-formulario {
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "img_form data_form";
}

.img_form {
  grid-area: img_form;
}

.form {
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}

.lista-suscript {
  list-style: none;
  text-align: center;
}

.ttl_susc {
  text-align: center;
  margin-top: 70px;
}

.subm-data {
  margin-bottom: 10px;
  border-radius: 2%;
  text-align: center;
}

.data_form {
  grid-area: data_form;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 776px) {
  .body-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .data_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .img_form {
    display: none;
  }
  .ttl_susc {
    margin-top: 0px;
  }
}
@media screen and (min-width: 776px) and (max-width: 890px) {
  .body-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .data_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .ttl_susc {
    margin-top: 0px;
  }
  .img_form {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
