/*NavBar*/
.gft-navbar {
    background-color: #003F91 !important;
    opacity: 1;
    padding: auto;
    padding-bottom: 1px;
    padding-top: 5px;
    margin: auto;
}

.desplazable-gift {
    background-color: #003F91 !important;
}

/*CAROUSEL*/
.carousel-gift {
    margin-top: 115.2px;
    margin-bottom: 40px;
}


@media screen and (max-width: 776px) {
 
}

@media screen and (min-width: 776px) and (max-width: 890px){
}
