/*NavBar*/

.promocion-navbar {
    display: grid;
    grid-template-areas: 
    "promotion-container"
    "navbar-central";
}

.gft-navbar {
    opacity: 1;
    padding: auto;
    padding-bottom: 1px;
    padding-top: 5px;
    margin: auto;
}

.offcanvas-tartufin {
    background-color:  #B392AC !important;
    border-left: 1px #CBC0D3 !important;
}

.titulo-canvas {
    color: #FEEAFA !important;
    opacity: 0 !important;
}

.nb-desplegable {
    color: white !important;
}






@media screen and (max-width: 776px) {
 
}

@media screen and (min-width: 776px) and (max-width: 890px){
}
