.grid-main-faqs {
    display: grid;
    grid-template-columns: 0.5fr 3.5fr 0.5fr;
    grid-template-rows: 2fr;
    grid-template-areas:
    "fq1 fq2 fq3";
    text-align: center;
}

.fq1 {
    grid-area: fq1;
}

.fq2 {
    grid-area: fq2;
}

.fq3 {
    grid-area: fq3;
}

.grid-main-cmpnys {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr;
    grid-template-areas: 
    "cp1 cp2";
    text-align: center;
}

.cp1 {
    grid-area: cp1;
}

.cp2 {
    grid-area: cp2;
    text-align: center;
}

/*cart*/
.ctg-card {
	display: flex;
	margin: 10px 10px;
	justify-content: space-around;
}

.card-item {
	border: 1px solid rgb(74, 73, 76);
	border-radius: 3%;
	margin: 10px 10px;
}

.img-item {
	padding: 10px 10px;
}

.inf-item {
	display: flex;
	flex-direction: column;
}

.desc-item {
	text-align: center;
	padding: 4px 4px;
}

.prc-item {
	text-align: center;
}
.nube-g {
	padding-left: 10px;
} 

.h3-cart {
	color: blue;
	margin: 0%;
	padding-bottom: 10px;
	padding-top: 10px;
}

.h2-cart {
	margin: 0%;
	padding-bottom: 10px;
	padding-top: 10px;
}

.p-cart {
	margin: 0%;
	height: 50px;
	padding-bottom: 10px;
	padding-top: 10px;
}

@media screen and (max-width: 776px) {
    .ctg-card {
        display: flex;
        flex-direction: column;
        margin: 10px 10px;
        justify-content: space-around;
    }
	.card-item {
		text-align: center;
		margin: auto;
        margin-bottom: 20px;
	}
    .img-item {
		text-align: center;
        padding: 10px 10px;
    }
}

@media screen and (min-width: 776px) and (max-width: 890px){
    .ctg-card {
        display: grid;
		grid-template-areas:
		"A1 A2"
		"A3 A4";
		gap: 50px;
        column-gap: 140px;
        margin: 10px 10px;
        justify-content: center;
    }
	.card-item {
		text-align: center;
		margin: auto;
        margin-bottom: 20px;
	}
    .img-item {
        text-align: center;
        padding: 10px 10px;
    }
}

/*section*/
.sct-b {
	display: grid;
	grid-template-areas:
	"sct-b-1 sct-b-2"
	"sct-b-3 sct-b-4"
	"sct-b-5 sct-b-6"
	"sct-b-7 sct-b-8";
	text-align: center;
	padding: auto;
	margin: 10px 10px;
}
.sct-b-1 {
	grid-area: sct-b-1;
	padding: auto;
	margin: 10px 10px;
	text-align: center;
}
.sct-b-2 {
	grid-area: sct-b-2;
	margin: 10px 10px;
	text-align: center;
}
.txt-sct-b-6-1 {
	padding-top: 63px;
	padding-left: 4px;
	padding-right: 4px;
}
.sct-b-3 {
	grid-area: sct-b-3;
	margin: 10px 10px;
	text-align: center;
}
.sct-b-4 {
	grid-area: sct-b-4;
	margin: 10px 10px;
	text-align: center;
}
.sct-b-5 {
	grid-area: sct-b-5;
	margin: 10px 10px;
	text-align: center;
}
.sct-b-6 {
	grid-area: sct-b-6;
	margin: 10px 10px;
	text-align: center;
}
.txt-sct-b-6-2 {
	padding-top: 63px;
	padding-left: 4px;
	padding-right: 4px;
}
.sct-b-7 {
	grid-area: sct-b-7;
	margin: 10px 10px;
	text-align: center;
}
.txt-sct-b-6-3 {
	padding-top: 63px;
	padding-left: 4px;
	padding-right: 4px;
}
.txt-sct-b-6-4 {
	padding-top: 63px;
	padding-left: 4px;
	padding-right: 4px;
}
.sct-b-8 {
	grid-area: sct-b-8;
	margin: 10px 10px;
	text-align: center;
}

@media screen and (max-width: 776px) {
	.sct-b {
		display: grid;
		grid-template-areas:
		"sct-b-1"
		"sct-b-2"
		"sct-b-4" 
		"sct-b-3"
		"sct-b-5" 
		"sct-b-6"
		"sct-b-8" 
		"sct-b-7";
		text-align: center;
		padding: auto;
		margin-top: 20px;
		margin-bottom: 5px;
		border-top: 2px	solid $cl-gy;
	}
	.txt-sct-b-6-1 {
		padding-top: 1px;
		padding-left: 4px;
		padding-right: 4px;
	}
	.txt-sct-b-6-2 {
		padding-top: 3px;
		padding-left: 4px;
		padding-right: 4px;
	}
	.txt-sct-b-6-3 {
		padding-top: 3px;
		padding-left: 4px;
		padding-right: 4px;
	}
	.txt-sct-b-6-4 {
		padding-top: 3px;
		padding-left: 4px;
		padding-right: 4px;
	}
}

@media screen and (min-width: 776px) and (max-width: 890px){
	.sct-b {
		display: grid;
		grid-template-areas:
		"sct-b-1"
		"sct-b-2"
		"sct-b-4" 
		"sct-b-3"
		"sct-b-5" 
		"sct-b-6"
		"sct-b-8" 
		"sct-b-7";
		text-align: center;
		padding: auto;
		margin-top: 20px;
		margin-bottom: 5px;
		border-top: 2px	solid $cl-gy;
	}
	.txt-sct-b-6-1 {
		padding-top: 4px;
		padding-left: 4px;
		padding-right: 4px;
	}
	.txt-sct-b-6-2 {
		padding-top: 3px;
		padding-left: 4px;
		padding-right: 4px;
	}
	.txt-sct-b-6-3 {
		padding-top: 3px;
		padding-left: 4px;
		padding-right: 4px;
	}
	.txt-sct-b-6-4 {
		padding-top: 3px;
		padding-left: 4px;
		padding-right: 4px;
	}
}