@mixin algn ($f-algn, $bg-algn, $jfc-algn, $c-algn){
    font-size: $f-algn;
    background-color: $bg-algn;
    justify-content: $jfc-algn;
    color: $c-algn;
}

@mixin pos ($p-top, $p-botton, $p-left, $p-rigth, $m-top, $m-botton, $m-left, $m-rigth){
    padding-top: $p-top;
    padding-bottom: $p-botton;
    padding-left: $p-left;
    padding-right: $p-rigth;
    margin-top: $m-top;
    margin-bottom: $m-botton;
    margin-left: $m-left;
    margin-right: $m-rigth;
}
.body-formulario {
    @include pos(10px, 10px, 10px, 10px, -top, -botton, -left, -rigth)
}

.data_form {
    @include pos(10px, 10px, 10px, 10px, -top, -botton, -left, -rigth)
}

.img_form_2 {
    @include pos(10px, 10px, 10px, 10px, -top, -botton, -left, -rigth)
}

.subm-data {
    @include pos(2px, 2px, 40px, 40px, -top, -botton, -left, -rigth) 
}

.grid-main-cmpnys {
    @include pos(40px, 30px, 20px, 20px, 115.2px, none, none, none)
}

.txt-faqs-3 {
    @include pos(20px, 20px, -left, -rigth, none, none, none, none,)
}

.grid-main-faqs {
    @include pos(30px, 30px, 20px, 20px, 115.2px, none, none, none)
}

.txt-faq-h2-3 {
    @include algn(30px, none, center, black);
    font-weight: 500
}

.txt-faq-p-3 {
    font-weight: 300
}

.txt-faq-h1-3 {
    font-weight: bolder
}

/*FOOTER*/
.smt-txt {
    @include algn(20px, none, center, black)
}
.sumate1{
    @include pos(50px, 50px, 20px, 20px, 12px, 12px, 100px, 100px)
}

/*LowContainer*/
.third-ft {
    @include algn(15px, #003F91, center, #FFFFEA)
}

.third-ft{
    @include pos(10px, 10px, 10px, 10px, 12px, 12px, auto, auto)
}

.spdor-ftr {
    @include pos(1px, 1px, 1px, 1px, 1px, 1px, 1px, 1px)
}

.arr {
    @include pos(-top, -botton, -left, -rigth, 10px, -botton, -left, -rigth);
    font-size: 15px;
}
/*finFOOTER*/


