$cl-bl: #003F91;
$cl-wt: #FFFFEA;
$cl-wt-ut: #FFFFFF;
$cl-gy: #5D737E;
$cl-cl: #5DA9E9;
$cl-wt-cl: #c1dbf1;
$cl-wt-gn: #E5F4E3;
$cl-bk: #000000;
$cl-fn: #6D326D;
$cl-ddb: #2F2504;
$cl-nigth: #0A100D;
$cl-pc: #BD8B9C;
$cl-ap: #AF125A;
$cl-sb: #582B11;


.btn_suscript{
    background-color: $cl-wt-cl;
    color: $cl-bl;
    font-weight: 300;
    font-size: 17px;
    border: 2px solid $cl-bl;

}

.carousel-gift {
    border-bottom: 5px solid $cl-fn;
    border-top: 5px solid $cl-fn;
}
.subm-data {
    border: 2px solid $cl-bl;
    color: $cl-bl;
}
/*FOOTER*/
.bg-ftr {
    background-image: linear-gradient(to top, $cl-bl, $cl-cl, $cl-wt-ut);
}

.smt-btn {
    background-color: $cl-bl;
}

.txt-sumate {
    color: $cl-wt-gn;
    text-decoration: none;
    font-size: 19px;
    text-align: center;
}
/*FIN FOOTER*/





